---
import Layout from "@layouts/Layout.astro";
const { frontmatter } = Astro.props;
---
<Layout title={frontmatter.title}>

<section class="grid md:grid-cols-2 md:h-screen overflow-y-hidden">
    <div>
        <div class="swiper mySwiper overflow-hidden">
            <div class="swiper-wrapper">
                {frontmatter.items.map((item, index) => (
                    <div class="swiper-slide">
                        <img 
                            class="cursor-pointer object-cover transition duration-300 ease-in-out w-full h-full" 
                            data-page="false" 
                            src={item.image} 
                            alt={frontmatter.title} 
                            data-image={item.image} 
                            data-text={item.text} 
                        />
                    </div>
                ))}
            </div>
            
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="px-8 grid items-center my-8">
        <div>
            <div class="mb-6">
                <h1 class="text-5xl lg:text-7xl font-bold ">{frontmatter.title}</h1>
                <mark class=" font-bold ">{frontmatter.description}</mark>
            </div>
           
            <slot/>
        </div>
        
    </div>

</section>
<script>
    import Swiper from "swiper"
    import {Pagination } from 'swiper/modules';

    // import Swiper and modules styles
    import 'swiper/css';
    import 'swiper/css/navigation';
    import 'swiper/css/pagination';
     var swiper = new Swiper(".mySwiper", {
        modules: [Pagination],
      spaceBetween: 30,
      centeredSlides: true,
      autoplay: {
        delay: 2500,
      },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
    
    });
</script>
</Layout>