---
import Layout from "@layouts/Layout.astro";
const { frontmatter } = Astro.props;
const offers = await Astro.glob('/src/pages/offers/*.md'); // Chemin vers vos fichiers Markdown
const suggestedoffers = offers.filter(room => room.frontmatter.title !== frontmatter.title);

---
<Layout title="Greats offers" >

<section class="">
    <div>
       <img class="h-72 w-full object-cover" src={frontmatter.imagefront} alt="">
    </div>
    <div class="max-w-7xl mx-auto py-16 px-4 grid gap-8  items-center">
       
        <div class="grid content-between h-full">
            <div class="">
                <h1 class="text-5xl lg:text-7xl font-bold ">{frontmatter.title}</h1>
                <p class="mb-3 ">Offer available from <b>{frontmatter.date}</b></p>

            </div>
            <div class="flex gap-4 flex-wrap  mb-8">
                <a href={frontmatter.book} target="_blank" class="w-full md:w-auto text-center text-sm bg-black/90 font-semibold uppercase py-3 px-6 text-white hover:bg-black/60">Book Now</a>
            </div>
            <div class="md:columns-2 colums-full">
                <slot/>
                <div class="mt-4">
                    <p>
                        Direct : 755 555 7000<br>
                        USA : 1 888 523 5050<br>
                        552 564 1838<br>
                        <a class="underline" href="mailto:sales.reservations@lacasaquecanta.com">sales.reservations@lacasaquecanta.com</a>
                      </p>
                      
                </div>
            </div>
        </div>
        
        
        
    </div>
    <div class="grid grid-cols-2 px-4 md:grid-cols-3 gap-6 max-w-7xl mx-auto py-16">
        <div class="col-span-2 md:col-span-1">
            <h2 class="text-5xl mb-6">Discover more offers</h2>
            <p>La Casa Que Canta is a small luxury hotel with essence, history and a personality of its own. Located in Zihuatanejo next to the beautiful La Ropa beach, this hotel offers unrivaled panoramic views.

            </p>

        </div>
        
        {suggestedoffers.slice(0, 5).map((post) => (
        <a href={post.url} class="group relative bg-cover bg-center p-2 md:p-10 aspect-square grid items-end text-white  overflow-hidden">
            <div class="absolute z-10 w-full h-full top-0 bg-gradient-to-br from-transparent to-gray-900 opacity-60"></div>
            <img class=" absolute z-0 w-full h-full top-0 object-cover group-hover:scale-[1.02] transition duration-300 ease-in-out" src={post.frontmatter.imagefront} alt=""/>
            <h3 class="text-xl md:text-5xl z-20 relative">{post.frontmatter.title}</h3>
          </a>
        ))}

    </div>
</section>

</Layout>